
以下、日本語。 👇


Hi {{name}}! 


Thank you for your purchase! If you purchased any music, you should have receieved a downloadable file in your browser that you can save to your phone or computer. 

{{music_url}}



Thanks again and happy listening 🤠

- Sheriff Crandy





こんにちは {{name}} さん！


この度はご購入いただきありがとうございました！楽曲を購入された方にはもれなくブラウザでダウンロードし、携帯電話やパソコンに保存することができます。


{{music_url}}



いつもありがとうございます！🤠。

- Sheriff Crandy






------ THIS IS AN AUTOMATED EMAIL. REPLIES TO THIS EMAIL WILL NOT BE DELIVERED ------
------ このメールは自動送信メールです。このメールへの返信は届きません ------。

©2023-2026 - Sheriff Crandy - Jesus Christ is Lord👑
